:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
        display: flex;
        height: calc(100% - 60.79px);
    }

    .main-content {
        background: var(--p-surface-50);
        border-radius: 25px 0 0 0;
        flex: 1 1 auto;
        
    }

}