<div class=" flex rounded-xl overflow-hidden size-full">
    <p-table class="size-full" selectionMode="single" [scrollable]="true" scrollHeight="flex" [value]="contacts" [tableStyle]="{ 'min-width': '100%' }">
        <ng-template #header>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Telefone</th>
            </tr>
        </ng-template>
        <ng-template #body let-contact>
            <tr (click)="onRowSelect(contact)">
                <td>{{ contact.nome }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.celular }}</td>
                <td>{{ contact.telefone }}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>