/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@import "../node_modules/@flaticon/flaticon-uicons/css/all/all.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
   font-family: 'Inter';
   box-sizing: border-box;
}

.fi {
    justify-content: center;
    align-items: center ;
}

body {
    height: 100vh;
    width: 100vw;
}