:host {
    min-width: 250px;
    padding: 1rem;
    background: var(--p-surface-overlay);

    .item-container {
        width: 100%;
        padding: 0.5rem 1rem;
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        color: var(--p-text-color);
        background: var(--p-surface-0);
        border-radius: 20px;
        user-select: none;
        transition: ease 0.4s;

        &:hover {
            background: var(--p-surface-50);
            color: var(--p-text-hover-color);
            transition: ease 0.4s;
        }

        &.active {
            background: var(--p-surface-100);
            color: var(--p-text-hover-color);
        }
    }
}