<div class="flex flex-col container-main size-full p-3 rounded-xl">

  <div class="w-full  flex justify-between items-center">
    <button (click)="onNavigationBack()" class="p-4 text-cyan-800 back-button flex items-center gap-2 cursor-pointer">
      <i class="pi pi-arrow-left"></i>
      <span class="font-semibold">Cancelar</span>
    </button>

    <div class="flex items-center gap-2">
      <p-button (onClick)="onSave()" [rounded]="true" severity="info" label="Salvar"></p-button>
      <p-button (onClick)="marAsFavorite()" [outlined]="!contact.favorito" [rounded]="true" severity="warn" icon="pi pi-star"></p-button>
    </div>
  </div>

  <div class="card-container  drop-shadow-xs flex gap-9 justify-center items-center">
    <div class="size-full gap-3 flex flex-col justify-center items-end image-container ">
      <div class="image rounded-xl overflow-hidden">
        <img [src]="avatarService.generateAvatar(contact.nome || ' ')" alt="">
      </div>
    </div>

    <div [formGroup]="contactForm"
      class="flex flex-col gap-4 justify-center items-start size-full details-info-container">
      <div class="flex items-center gap-2">
        <span class="font-regular  text-md text-cyan-900">Nome</span>
        <input placeholder="Nome do contato" formControlName="nome" pInputText type="text">
      </div>

      <div class="flex items-center gap-2">
        <span class="font-regular  text-md text-cyan-900">Email</span>
        <input placeholder="Email do contato" formControlName="email" pInputText type="text">
      </div>

      <div class="flex items-center gap-2">
        <span class="font-regular  text-md text-cyan-900">Celular</span>
        <input mask="(00) 00000-0000" placeholder="Celular do contato" formControlName="celular" pInputText type="text">
        <!-- <div *ngIf=" contactForm.get('celular')?.hasError('phoneExists')">
      Este número já está cadastrado.
    </div> -->
      </div>

      <div class="flex items-center gap-2">
        <span class="font-regular  text-md text-cyan-900">Telefone</span>
        <input mask="(00) 0000-0000" placeholder="Telefone do contato" formControlName="telefone" pInputText type="text">
      </div>

      <div class="flex items-center gap-2">
        <span class="font-regular  text-md text-cyan-900">Status</span>
        <p-selectbutton [options]="stateOptions" formControlName="ativo" optionLabel="label" optionValue="value"
          aria-labelledby="basic" />
      </div>
    </div>
  </div>
</div>

<p-toast  position="bottom-center"/>
<p-confirmdialog />